<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/08e95239-8846-42d4-b3eb-79ccf7e6cc3c/resourcegroups/AbbyResourceGroup/providers/Microsoft.ContainerRegistry/registries/Abby90</ResourceId>
    <ResourceName>Abby90</ResourceName>
    <ResourceGroup>AbbyResourceGroup</ResourceGroup>
    <Subscription>FreeTrail</Subscription>
    <RegistryUrl>https://abby90.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>